<!DOCTYPE html>
<html>
<head>
    <title>Music File Upload</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <style>
        body {
            background-color: rgb(49, 107, 126);
        }
    </style>
</head>
<body>
    <div style="text-align: center;">
        <h1>Upload a Music File</h1>
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="Upload">
        </form>
    </div>
</body>
</html>
